{% extends "layout.html" %} {% block body %}
<style>
/* 
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 80%;        
    margin: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.padding-10{ padding:10px;}
.explore-icon{width: 180px;}
 */

.icon-size {
    /*  max-width: 30%; */
}

#timelineImg {
    max-width: 100%;
    min-height: 50%;
}

#fundersList {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}
</style>
<script>
//https://developers.google.com/youtube/player_parameters?hl=en

var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";

var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;

function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytPlayerAbout', {
        /* height: '390',
         width: '640',*/
        videoId: 'X2hMoXoqMiU',
        playerVars: {
            'showinfo': 0,
            /*'controls': 1,*/
            'autohide': 1
        }

    });
}

$(function() {

    $("#api, #liberateNext").css("height", $("#search").outerHeight()+1);

    window.onresize = function() {
        var visina= $("#search").outerHeight()+1; //hidden visina
        $("#api, #liberateNext").css("height", visina);
    }

    $(".explore-icon").hover(function() {
        //if active, don't change
        //change ul content
        $("#descDiv ul").addClass("hidden");
        $("#descSvg div").addClass("hidden");

        var idIcon = $(this).attr("id");
        if(  idIcon == "liberatIcon"){
            $("#titleHowTo").html("Tell us what to liberate next");
            $("#liberateNext, #liberate-svg").removeClass("hidden");
        }
        else if(idIcon == "apiIcon"){
            $("#titleHowTo").html("API");
            $("#api, #api-svg").removeClass("hidden");
        }
        else {
            $("#titleHowTo").html("Advanced search");
            $("#search, #search-svg").removeClass("hidden");
        }  
      
    })

})

// function waysHeight() {
    

//     window.onload = waysHeight;
//     window.onresize = waysHeight;
// }

</script>

<header class="intro primary-color">
    <!-- <div class="intro-body"> -->
    <div class="container">
        <div class="white-content">
            <div class="intro-content padding-lg">
                <h2 class="text-center">About</h2>
                <p class="text-justify margin-2p">
                    Data Centar is an open online platform that provides easy access to datasets of various public information at the national and local level in Serbia. It was developed to help journalists, activists, researchers and public officials in search for valuable data to power their stories, campaigns, analyses or decision making. With the use of latest technologies, Data Centar simplifies, integrates and prepares complex, disparate and disorganized datasets for easy and meaningful use by all interested stakeholders. By making good use of public data, Data Centar and its users push for governments to offer useful and good quality data and provide the public what they need to participate in decision making as active and informed citizens.
                </p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="overlay-video text-center">
        <div class="welcome-video col-xs-12 col-sm-8">
            <div class='embed-container'>
                <div id="ytPlayerAbout"></div>
            </div>
        </div>
    </div>
</div>
<!-- Ways to Use the Site Section -->
<section id="howToUseS" class="container-fluid content-section secondary-color white-content margin-4p padding-sm">
    <div class="row">
        <div class="container">
            <h2 class="text-center">Ways to Use the Site</h2>
            <div class="row margin-4p">
                <div class="col-xs-4">
                    <img id="searchIcon" class="explore-icon img-responsive hover" src="{{ url_for('static', filename='images/DC_Icon_1.svg') }}" onmouseover="this.src='{{ url_for('static', filename='images/DC_Icon_1_hover.svg') }}';" onmouseout="this.src='{{ url_for('static', filename='images/DC_Icon_1.svg') }}';" alt="">
                </div>
                <div class="col-xs-4">
                    <img id="apiIcon"  class="explore-icon img-responsive hover" src="{{ url_for('static', filename='images/DC_Icon_2.svg') }}" onmouseover="this.src='{{ url_for('static', filename='images/DC_Icon_2_hover.svg') }}';" onmouseout="this.src='{{ url_for('static', filename='images/DC_Icon_2.svg') }}';" alt="">
                </div>
                <div class="col-xs-4">
                    <img id="liberatIcon" class="explore-icon img-responsive hover" src="{{ url_for('static', filename='images/DC_Icon_3.svg') }}" onmouseover="this.src='{{ url_for('static', filename='images/DC_Icon_3_hover.svg') }}';" onmouseout="this.src='{{ url_for('static', filename='images/DC_Icon_3.svg') }}';" alt="">
                </div>
            </div>
            <div id="descSvg">
                <div id="search-svg">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1188.001 70" enable-background="new 0 0 1188.001 70" xml:space="preserve" style="margin-left: 15.5%;" id="search-svg">
                    <g>
                        <polygon fill="#FFFFFF" points="970,70 0,70 0,0 2.572,0 2.572,68 970,68   "/>
                    </g>
                    </svg>
                </div>
                <div id="api-svg" class="hidden">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1188.001 70" enable-background="new 0 0 1188.001 70" xml:space="preserve" style="margin-left: 15.5%;">
                    <g>
                    <polygon fill="#FFFFFF" points="485.817,68 485.817,0 484.182,0 484.182,68 0,68 0,70 970,70 970,68 "/>
                    </g>
                    </svg>
                </div>
                <div id="liberate-svg" class="hidden"> 
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1188.001 70" enable-background="new 0 0 1188.001 70" xml:space="preserve" style="margin-left: 15.5%;">
                    <g>
                        <polygon fill="#FFFFFF" points="6,68 970,68 970,0 972,0 972,70 6,70     "/>
                    </g>
                    </svg>
                </div>
            </div>
            <div class="">
                <div id="descDiv" class="margin-4p">
                    <h2 class="text-center" id="titleHowTo">Advanced search</h2>
                    <ul class="margin-2p" id="search">
                        <div class="col-xs-12 col-sm-6">
                            <li>You can start exploring right from the homepage: click on the pre-made search right below the video, or click on “show me another” to get a new pre-made search</li>
                            <li class="margin-2p">On the <a href="{{ url_for('search.index') }}">Search</a> page, you can visualize all our data and filter it by any variable (like geographic location, amount, or anything else)</li>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <li>The visualization are automatically updated, to give you an easier overview of what the data is saying</li>
                            <li class="margin-2p">We are working on custom advanced searches, where you will be able to define <b>operators</b> like “less than”, “is true”, “is empty” etc to create complex filtering directly on the website</li>
                            <li class="margin-2p">You can also download the data in different open formats for your own analyses</li>
                        </div>
                    </ul>
                    <ul class="hidden margin-2p" id="api">
                        <div class="col-xs-12 col-sm-6">
                            <li>Don’t know what an API is? The School of Data explains <a href="http://schoolofdata.org/2013/11/18/web-apis-for-non-programmers/">APIs for non-programmers</a> (but you should probably get a developer to help you - <a href="mailto:data@datacentar.io">or ask us for help</a>!)</li>
                            <li class="margin-2p">On the <a href="{{ url_for('api.index') }}">API page</a> you can learn about all the parameters you can use for your API calls, and create your custom API</li>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <li>Run the custom API directly on the Data Centar website to see what results it provides you, then tweak to your delight</li>
                            <li class="margin-2p">Once you’re happy, take the API and plug it into your website, or use it to download raw data on your computer</li>
                            <li class="margin-2p">Our entire Search page is powered by our API - so you can create advanced searches, and copy the API link of the search you made</li>
                        </div>
                    </ul>
                    <ul class="hidden margin-2p" id="liberateNext">
                        <div class="col-xs-12 col-sm-6">
                            <li>At the bottom of each page, you will find a form where you can choose between four datasets we plan to open. </li>
                            <li class="margin-2p">Take your pick, and if you want, leave us a comment on how you would use that data. Your feedback is crucial!</li>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <li>If you’re not interested in any of the proposed datasets, <a href="mailto:data@datacentar.io">get in touch</a> and propose what you would like us to liberate next</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Timeline Section -->
<section id="timelineS" class="container content-section text-center primary-content-color">
    <div class="">
        <img id="timelineImg" src="{{ url_for('static', filename='images/timeline.svg') }}" alt="">
        <div class="margin-4p">
            <h2>The Future</h2>
            <p class="margin-2p">
                <b>We wish to grow into a single online hub for collection, processing and preparation of different datasets of public information at the local, national and regional level.</b>
            </p>
            <p class="margin-2p">
                <b>After the MVP launch in 2015</b>, Data Centar will expand the number of municipal and other datasets from Serbia, add 2016 budgetary data, and at least two different datasets proposed by the community. The main focus of Data Centar in 2016 will be, in fact, to build a strong community and make sure they are at the forefront of the Data Centar's growth.
            </p>
            <p class="margin-2p">
                <b>In 2016 and 2017</b>, Data Centar will keep growing organically and responsibly. We will also advocate for increasing the level of governmental openness by influencing the state of open data in Serbia: we wish to see at least two governmental datasets integrated into Data Centar through an open, government-managed API.
                <br />Data Centar wants to go global: we wish to host datasets from at least two Balkan region countries by end 2017, and incorporate datasets from non-Balkan countries.
            </p>
            <p class="margin-2p">
                <b>By the end of 2017</b>, Data Centar aims to be a completely functional open platform that provides broad, easy and full access to multiple datasets of public information from many countries in the region. Our goal is to gain recognition as a one-stop-shop for opening data in a usable and useful way, with a strong and active user community that leads us. This way, Data Centar will be able to influence governments and institutions to increase the quality and provide access to open and useful data.
            </p>
        </div>
    </div>
</section>
<!-- Funders Section -->
<section id="fundersS" class="container-fluid text-center primary-color white-content margin-4p">
    <div class="container">
        <div class="padding-sm">
            <h2>Partners</h2>
            <div class="row text-center margin-4p">
                <div class="col-xs-6 col-sm-3">
                    <a href="http://www.undp.org/content/serbia/en/home.html" target="_blank"><img src="{{ url_for('static', filename='images/undp-logo.png') }}" alt="" class="funder-img img-responsive"></a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="http://opendatakosovo.org/" target="_blank"><img src="{{ url_for('static', filename='images/open-data-kosovo-logo.png') }}" alt="" class="funder-img img-responsive"></a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="https://www.theengineroom.org/" target="_blank"><img src="{{ url_for('static', filename='images/eR-logo-white-transparent.png') }}" alt="" class="funder-img img-responsive"></a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="http://www.crta.rs/" target="_blank"><img src="{{ url_for('static', filename='images/crta-logo.png') }}" alt="" class="funder-img img-responsive"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
