{% extends "layout.html" %} 
{% block body %}
<style>
/* 
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 80%;        
    margin: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.padding-10{ padding:10px;}
.explore-icon{width: 180px;}
 */

#descHowToUse {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#timelineImg {
    max-width: 100%;
    min-height: 50%;
}

#fundersList {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

</style>
<script>
//https://developers.google.com/youtube/player_parameters?hl=en

var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";

var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;

function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytPlayerAbout', {
        /* height: '390',
         width: '640',*/
        videoId: 'XZmGGAbHqa0',
        playerVars: {
            'showinfo': 0,
            /*'controls': 1,*/
            'autohide': 1
        }

    });
}

$(function() {
    $(".explore-icon").hover(function() {
        //if active, don't change
        //change ul content
        var random = function() {
            return Math.floor(Math.random() * 10);
        }


        $("#descHowToUse").html("");
        $("#descHowToUse").append($("<li>").append("<p>Some Text.<br/>Nesto nesto" + random() + "</p>"));
        $("#descHowToUse").append($("<li>").append("<p>Some Text.<br/>Nesto nesto" + random() + "</p>"));
        $("#descHowToUse").append($("<li>").append("<p>Some Text.<br/>Nesto nesto" + random() + "</p>"));
        $("#descHowToUse").append($("<li>").append("<p>Some Text.<br/>Nesto nesto" + random() + "</p>"));
    })
})
</script>
<header class="intro primary-color">
    <!-- <div class="intro-body"> -->
        <div class="container">
            <div class="white-content">
                <div class="intro-content padding-lg">
                    <h2 class="text-center">About</h2>
                    <p class="text-justify margin-2p">
                       Data Center is an open online platform that provides easy access to datasets of various public information at the national and local level in Serbia. It was developed to help journalists, activists, researchers and public officials in search for valuable data to power their stories, campaigns, analyses or decision making. With the use of latest technologies, Data Center simplifies, integrates and prepares complex, disparate and disorganized datasets for easy and meaningful use by all interested stakeholders. By making good use of public data, Data Center and its users push for governments to offer useful and good quality data and provide the public what they need to participate in decision making as active and informed citizens.
                    </p>
                </div>
            </div>
        </div>
</header>
<div class="container">
    <div class="overlay-video text-center">
        <div class="welcome-video col-xs-12 col-sm-8">
            <div class='embed-container'>
                <div id="ytPlayerAbout"></div>
            </div>

        </div>
    </div>
</div>
<!-- Ways to Use the Site Section -->
<section id="howToUseS" class="container-fluid content-section text-center secondary-color white-content margin-4p">
    <div class="row">
        <div class="container">
            <h2 class="margin-2p">Ways to Use the Site Section</h2>
            <div class="row text-center ">
                <div class="col-md-3 col-xs-6 padding-10">
                    <img class="explore-icon" src="http://placehold.it/200x200" alt=""></div>
                <div class="col-md-3 col-xs-6 padding-10">
                    <img class="explore-icon" src="http://placehold.it/200x200" alt=""></div>
                <div class="col-md-3 col-xs-6 padding-10">
                    <img class="explore-icon" src="http://placehold.it/200x200" alt=""></div>
                <div class="col-md-3 col-xs-6 padding-10">
                    <img class="explore-icon" src="http://placehold.it/200x200" alt=""></div>
            </div>
            <div class="row">
                <ul id="descHowToUse">
                    <li>
                        <p><b>Description</b> nausgaard small batch hammock umami first</p>
                    </li>
                    <li>
                        <p><b>Description</b> nausgaard small batch hammock umami second</p>
                    </li>
                    <li>
                        <p><b>Description</b> nausgaard small batch hammock umami third</p>
                    </li>
                    <li>
                        <p><b>Description</b> nausgaard small batch hammock umami fourth</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Timeline Section -->
<section id="timelineS" class="container-fluid  section-height content-section text-center primary-content-color">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="margin-2p">Timeline</h2>
            <img id="timelineImg" src="https://www.trust-i.net/images/timeline.png" alt="">
            
            <h2 class="margin-top-10vh">The Future</h2>  
            <p class="margin-2p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis molestias, repudiandae omnis! Voluptate minima minus atque asperiores sint harum omnis molestiae pariatur animi, corporis quam alias, fuga consectetur culpa?</p>
        </div>
    </div>
</section>
<!-- Funders Section -->
<section id="fundersS" class="container-fluid text-center primary-color white-content">
    <div class="container">
        <div class="padding-sm">
            <h2>Partners</h2>
            <div class="row text-center margin-4p">
                <div class="col-xs-6 col-sm-3">
                    <img src="http://placehold.it/150x130" alt="" class="funder-img img-responsive">
                </div>
                <div class="col-xs-6 col-sm-3">
                    <img src="http://placehold.it/150x130" alt="" class="funder-img img-responsive">
                </div>
                <div class="col-xs-6 col-sm-3">
                    <img src="http://placehold.it/150x130" alt="" class="funder-img img-responsive">
                </div>
                <div class="col-xs-6 col-sm-3">
                    <img src="http://placehold.it/150x130" alt="" class="funder-img img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
