{% extends "layout.html" %}
{% block body %}
    <script>
        $(document).ready(function () {
            $("#btn-post-sum-req").click(function () {
                postSumRequest();
            });

            $("#btn-post-activities-req").click(function () {
                postClassificationsReq();
            });

            $("#btn-post-municipalities-req").click(function () {
                postRequestForMunicipalities();
            });

            $("#btn-post-list-mun-req").click(function () {
                postRequestListMunicipalities();
            });

            initFiltersDisplay();

            $("#data_type").change(function(){

            });
            var prihodiJson = null;
            var rashodiJson = null;
            var prihodiParam = false;
            var rashodiParam = false;

            if(prihodiParam == false){
                prihodiJson = $.getJSON('{{ url_for('api.activities', lang_code=g.current_lang) }}', {'dataType': "prihodi"});
                prihodiParam = true;

            }
            if(rashodiParam == false){
                rashodiJson = $.getJSON('{{ url_for('api.activities', lang_code=g.current_lang) }}', {'dataType': "rashodi"});
                rashodiParam = true;
            }

        displayClassificationNumbers("sum-req-form", prihodiJson, rashodiJson);
        displayClassificationNumbers("municipalities-req-form", prihodiJson, rashodiJson);
        displayClassificationNumbers("list-mun-req-form", prihodiJson, rashodiJson);


        $('#sum-req-form #select_both_sources').change(function(){
            if($('#sum-req-form #select_both_sources').prop('checked')){
                $('#sum-req-form #data_type').prop("disabled", true);
                $("#sum-req-form #classifications option").remove();

                $.each(rashodiJson['responseJSON'], function () {
                    $("#sum-req-form #classifications").append($("<option></option>").val(this['klasifikacijaBroj']).html(this['klasifikacijaBroj'] + " " + "-" + " " + this['klasifikacijaOpis']));

                });
                $.each(prihodiJson['responseJSON'], function () {
                    $("#sum-req-form #classifications").append($("<option></option>").val(this['klasifikacijaBroj']).html(this['klasifikacijaBroj'] + " " + "-" + " " + this['klasifikacijaOpis']));
                });

            }
            else{
                $("#sum-req-form #classifications option").remove();
                $('#sum-req-form #data_type').prop("disabled", false);

                $.each(rashodiJson['responseJSON'], function () {
                    $("#sum-req-form #classifications").append($("<option></option>").val(this['klasifikacijaBroj']).html(this['klasifikacijaBroj'] + " " + "-" + " " + this['klasifikacijaOpis']));

                });
            }
        });

        });


        function postSumRequest() {

            var data = get_request_form_data('sum-req-form');
            executePost(data, '{{ url_for('api.sum', lang_code=g.current_lang) }}', "sum-req-rsp-box", "sum-req-body-box");

        }

        function postRequestForMunicipalities() {

            var data = getFormData('municipalities-req-form');
            executePost(data, '{{ url_for('api.aggregated_classifications', lang_code=g.current_lang) }}', "municipalities-req-rsp-box", "municipalities-req-body-box");
        }

        function postRequestListMunicipalities() {
            var data = getFormData('list-mun-req-form');
            executePost(data, '{{ url_for('api.list_of_municipalities', lang_code=g.current_lang) }}', "list-mun-req-rsp-box", "list-mun-req-body-box");

        }

        function postClassificationsReq() {
            var municipalities = [];
            $('#class_municipalities :selected').each(function (i, selected) {
                municipalities[i] = $(selected).val();
            });

            var data = {
                "tipPodataka": [$('#class_data_type').val()],
                "godine": [parseInt($('#class_years').val())],
                "opstine": municipalities
            };
            executePost(data, '{{ url_for('api.activities', lang_code=g.current_lang) }}', "activities-req-rsp-box", "activities-req-body-box");
        }
    </script>
    <script src="{{ url_for('static', filename='prismjs/prism.js') }}"></script>
    <link href="{{ url_for('static', filename='prismjs/prism.css') }}" rel="stylesheet">
    <style>
        .tab-content {
            padding-top: 15px;
        }

        h5 {
            margin: 0;
        }
    </style>
    <!-- Contact Section -->
    <header class="intro primary-color">
    <div class="intro-content container padding-lg text-center">
        <h2>API</h2>
    </div>
    </header>
    <section id="api-sums" class="container margin-4p">
        <div class="row">
            <div class="col-xs-12 col-md-8 float-none">

                <div class="panel panel-default border-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title white-content">Zbir</h3>
                    </div>
                    <div class="panel-body primary-content-color">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#sums-how" aria-controls="sums-how" role="tab" data-toggle="tab">{{ _('How?') }}</a></li>
                            <li role="presentation"><a href="#sums-tryit" aria-controls="sums-tryit" role="tab" data-toggle="tab">{{ _('Try it!') }}</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="sums-how">
                                <br>

                                <div class="form-group text-center">
                                    <!--<h5>OPIS:</h5>-->
                                    <span>{{ _('DESCRIPTION: Use this POST request to download data.') }}</span>
                                </div>

                                <div class="text-center">
                                    <!--<h5>URL POST ZAHTEVA:</h5>-->
                                    <span>{{ _('POST REQUEST URL: http://datacentar.io/en/api/zbir') }}</span>
                                </div>
                                <br>

                                <div>
                                    <h5>INQUIRY PARAMETERS:</h5>
                                    <table class="table table-striped margin-2p">
                                        <thead class="secondary-color white-content">
                                        <tr>
                                            <td >
                                               {{ _('Parameter') }}
                                            </td>
                                            <td>
                                               {{ _('Type') }}
                                            </td>
                                            <td>
                                                {{ _('Description') }}
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td >
                                                    tipPodataka
                                                </td>
                                                <td>
                                                    {{ _('String.') }}
                                                </td>
                                                <td>
                                                   {{ _('Use this parameter to filter based on the type of data.') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    godine
                                                </td>
                                                <td>
                                                   {{ _('List of whole numbers.') }}
                                                </td>
                                                <td>
                                                    {{ _('Years we want to download data for.') }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td >
                                                    opstine
                                                </td>
                                                <td>
                                                   {{ _('List of strings.') }}
                                                </td>
                                                <td>
                                                   {{ _('Municipalities.') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    klasifikacijaBroj
                                                </td>
                                                <td>
                                                   {{ _('List of whole numbers.') }}
                                                </td>
                                                <td>
                                                   {{ _('Economic classification.') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    pocinjeSa
                                                </td>
                                                <td>
                                                    {{ _('String.') }}
                                                </td>
                                                <td>
                                                   {{ _('Use this parameter to filter based on the type of data.') }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped margin-2p">
                                        <thead class="white-content">
                                            <tr>
                                                <td class="secondary-color">
                                                    {{ _('Fillters') }}
                                                </td>
                                                <td class="third-color"></td>
                                                <td class="third-color"></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    ukupno
                                                </td>
                                                <td>
                                                    {{ _('Number.') }}
                                                </td>
                                                <td>
                                                    {{ _('Set the range by setting parameter <strong>veceIliJednako</strong> as the minimal value and parameter <strong>manjeIliJednako</strong> as the maximal value.') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    sopstveniPrihodi
                                                </td>
                                                <td>
                                                    {{ _('Number.') }}
                                                </td>
                                                <td>
                                                    {{ _('Set the range by setting parameter <strong>veceIliJednako</strong> as the minimal value and parameter <strong>manjeIliJednako</strong> as the maximal value.') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    prihodiBudzeta
                                                </td>
                                                <td>
                                                    {{ _('Number.') }}
                                                </td>
                                                <td>
                                                    {{ _('Set the range by setting parameter <strong>veceIliJednako</strong> as the minimal value and parameter <strong>manjeIliJednako</strong> as the maximal value.') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    donacije
                                                </td>
                                                <td>
                                                    {{ _('Number.') }}
                                                </td>
                                                <td>
                                                    {{ _('Set the range by setting parameter <strong>veceIliJednako</strong> as the minimal value and parameter <strong>manjeIliJednako</strong> as the maximal value.') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    ostali
                                                </td>
                                                <td>
                                                    {{ _('Number.') }}
                                                </td>
                                                <td>
                                                   {{ _('Set the range by setting parameter <strong>veceIliJednako</strong> as the minimal value and parameter <strong>manjeIliJednako</strong> as the maximal value.') }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="sums-tryit">

                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal" id="sum-req-form">
                                            <div class="form-group">
                                                {{ sum_req_form.data_type.label(class="control-label col-xs-12 col-sm-2") }}
                                                <div class="col-xs-12 col-sm-10">
                                                    {{ sum_req_form.data_type(class="form-control border-primary") }}
                                                    <div class="col-xs-12 col-sm-10 pull-right" align="right">
                                                        {{ sum_req_form.select_both_sources }}{{ sum_req_form.select_both_sources.label(class="small") }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.years.label(class="control-label col-xs-12 col-sm-2") }}
                                                <div class="col-xs-12 col-sm-10">
                                                    {{ sum_req_form.years(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.municipalities.label(class="control-label col-xs-12 col-sm-2") }}
                                                <div class="col-xs-12 col-sm-10">
                                                    {{ sum_req_form.municipalities(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.classifications.label(class="control-label col-xs-12 col-sm-2") }}
                                                <div class="col-xs-12 col-sm-10">
                                                    {{ sum_req_form.classifications(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-8">
                                                <p>{{ _('Filters:') }}</p>
                                                <hr>
                                                <div class="form-group">
                                                    <div class="col-xs-1">
                                                        {{ sum_req_form.ukupno() }}
                                                    </div>
                                                    <div class="col-xs-5">
                                                        {{ sum_req_form.ukupno.label(class="pull-left") }}
                                                    </div>
                                                    <div class="col-xs-3">
                                                        {{ sum_req_form.ukupno_gte(type="number", class="form-control border-primary", placeholder=">=", disabled="disabled") }}
                                                    </div>
                                                    <div class="col-xs-3">
                                                        {{ sum_req_form.ukupno_lte(type="number", class="form-control border-primary", placeholder="<=", disabled="disabled") }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-1">
                                                        {{ sum_req_form.sopstveni_prihodi() }}
                                                    </div>
                                                    <div class="col-xs-5">
                                                        {{ sum_req_form.sopstveni_prihodi.label(class="pull-left") }}
                                                    </div>
                                                     <div class="col-xs-3">
                                                        {{ sum_req_form.sopstveni_prihodi_gte(type="number", class="form-control border-primary", placeholder=">=", disabled="disabled") }}
                                                    </div>
                                                     <div class="col-xs-3">
                                                        {{ sum_req_form.sopstveni_prihodi_lte(type="number", class="form-control border-primary", placeholder="<=", disabled="disabled") }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-1">
                                                        {{ sum_req_form.prihodi_budzeta() }}
                                                    </div>
                                                     <div class="col-xs-5">
                                                        {{ sum_req_form.prihodi_budzeta.label() }}
                                                    </div>
                                                    <div class="col-xs-3">
                                                        {{ sum_req_form.prihodi_budzeta_gte(type="number", class="form-control border-primary", placeholder=">=", disabled="disabled") }}
                                                    </div>
                                                     <div class="col-xs-3">
                                                        {{ sum_req_form.prihodi_budzeta_lte(type="number", class="form-control border-primary", placeholder="<=", disabled="disabled") }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                     <div class="col-xs-1">
                                                         {{ sum_req_form.donacije() }}
                                                    </div>
                                                    <div class="col-xs-5">
                                                        {{ sum_req_form.donacije.label() }}
                                                    </div>
                                                    <div class="col-xs-3">
                                                        {{ sum_req_form.donacije_gte(type="number", class="form-control border-primary", placeholder=">=", disabled="disabled") }}
                                                    </div>
                                                     <div class="col-xs-3">
                                                        {{ sum_req_form.donacije_lte(type="number", class="form-control border-primary", placeholder="<=", disabled="disabled") }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-1">
                                                        {{ sum_req_form.ostali() }}
                                                    </div>
                                                    <div class="col-xs-5">
                                                        {{ sum_req_form.ostali.label() }}
                                                    </div>
                                                    <div class="col-xs-3">
                                                        {{ sum_req_form.ostali_gte(type="number", class="form-control border-primary", placeholder=">=", disabled="disabled") }}
                                                    </div>
                                                     <div class="col-xs-3">
                                                        {{ sum_req_form.ostali_lte(type="number", class="form-control border-primary", placeholder="<=", disabled="disabled") }}
                                                    </div>
                                                </div><hr>
                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        {{ sum_req_form.pocinje_sa.label() }}
                                                    </div>
                                                    <div class="col-xs-6">
                                                        {{ sum_req_form.pocinje_sa(class="form-control border-primary") }}
                                                    </div>
                                                </div>
                                                <div class="text-right">
                                                    <button type="button"class="button-full" id="btn-post-sum-req">POST</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <p>{{ _('Request Body:') }}</p>
                                                <pre style="height:340px;">
                                                    <code class="language-javascript" id="sum-req-body-box"></code>
                                                </pre>
                                            </div>
                                         </form>
                                    </div>
                                </div>
                                <div class="col-xs-12 margin-2p">
                                    <p>{{ _('Response:') }}</p>
                                    <pre style="height:250px;">
                                        <code class="language-javascript" id="sum-req-rsp-box"></code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="api-activities" class="container margin-4p">
        <div class="row">
            <div class="col-xs-12 col-md-8 float-none">
                <div class="panel panel-default border-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title white-content">{{ _('Economic classification.') }}</h3>
                    </div>
                    <div class="panel-body primary-content-color">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#activities-how"
                                                                      aria-controls="activities-how" role="tab"
                                                                      data-toggle="tab">{{ _('How?') }}</a></li>
                            <li role="presentation"><a href="#activities-tryit" aria-controls="activities-tryit"
                                                       role="tab" data-toggle="tab">{{ _('Try it!') }}</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="activities-how">
                                <div class="form-group text-center">
                                    <!--<h5>OPIS:</h5>-->
                                    <span>{{ _('DESCRIPTION: Use this POST request to download data.') }}</span>
                                </div>

                                <div class="text-center">
                                    <!--<h5>URL POST ZAHTEVA:</h5>-->
                                    <span>{{ _('POST REQUEST URL: http://datacentar.io/en/api/ekonomska-klasifikacija') }}</span>
                                </div>
                                <br>

                                <div>
                                    <h5>{{ _('INQUIRY PARAMETERS:') }}</h5>
                                    <table class="table table-striped margin-2p">
                                        <thead class="secondary-color white-content">
                                        <tr>
                                            <td>
                                                {{ _('Parameter') }}
                                            </td>
                                            <td>
                                                {{ _('Type')  }}
                                            </td>
                                            <td>
                                                {{ _('Description')  }}
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                tipPodataka
                                            </td>
                                            <td>
                                                {{ _('String.')  }}
                                            </td>
                                            <td>
                                                {{ _('Use this parameter to filter based on the type of data.')  }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                godine
                                            </td>
                                            <td>
                                                {{ _('List of whole numbers.') }}
                                            </td>
                                            <td>
                                                {{ _('Years we want to download data for.') }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                opstine
                                            </td>
                                            <td>
                                                {{ _('List of strings.') }}
                                            </td>
                                            <td>
                                                {{ _('Municipalities.') }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="activities-tryit">
                                <div class="row">
                                    <div class="col-md-8">
                                        <form class="form-horizontal" id="sum-req-form">
                                            <div class="form-group">
                                                {{ sum_req_form.data_type.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.data_type(class="form-control border-primary", id="class_data_type") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.years.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.years(class="form-control border-primary", id="class_years") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.municipalities.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.municipalities(class="form-control border-primary", id="class_municipalities", rows="100", style="height:177px;") }}
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <button type="button"class="button-full" id="btn-post-activities-req">POST</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{{ _('Request Body:') }}</strong>
                                        <pre style="height:258px;">
                                            <code class="language-javascript" id="activities-req-body-box"></code>
                                        </pre>
                                    </div>
                                </div>
                                <div style="padding-top:20px;">
                                    <strong>{{ _('Response:') }}</strong>
                                    <pre style="height:400px;">
                                        <code class="language-javascript" id="activities-req-rsp-box"></code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="api-municipalities" class="container margin-4p">
        <div class="row">
            <div class="col-xs-12 col-md-8 float-none">
                <div class="panel panel-default border-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title white-content">{{ _('Economic classification info for municipalities') }}</h3>
                    </div>
                    <div class="panel-body primary-content-color">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#municipalities-how"
                                                                      aria-controls="municipalities-how" role="tab"
                                                                      data-toggle="tab">{{ _('How?') }}</a></li>
                            <li role="presentation"><a href="#municipalities-tryit" aria-controls="municipalities-tryit"
                                                       role="tab" data-toggle="tab">{{ _('Try it!') }}</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="municipalities-how">
                                <div class="form-group text-center">
                                    <!--<h5>OPIS:</h5>-->
                                    <span>{{ _('DESCRIPTION: Use this POST request to download data.') }}</span>
                                </div>

                                <div class="text-center">
                                    <!--<h5>URL POST ZAHTEVA:</h5>-->
                                    <span>{{ _('POST REQUEST URL: http://datacentar.io/en/api/sakupiti-klasifikacija-za-opstine') }}</span>
                                </div>
                                <br>

                                <div>
                                    <h5>{{ _('INQUIRY PARAMETERS:') }}</h5>
                                    <table class="table table-striped margin-2p">
                                        <thead class="secondary-color white-content">
                                        <tr>
                                            <td>
                                                {{ _('Parameter') }}
                                            </td>
                                            <td>
                                                {{ _('Type') }}
                                            </td>
                                            <td>
                                                {{ _('Description') }}
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                tipPodataka
                                            </td>
                                            <td>
                                                {{ _('String.') }}
                                            </td>
                                            <td>
                                               {{ _('Use this parameter to filter based on the type of data.') }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                godine
                                            </td>
                                            <td>
                                                {{ _('List of whole numbers.') }}
                                            </td>
                                            <td>
                                                {{ _('Years we want to download data for.') }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                klasifikacijaBroj
                                            </td>
                                            <td>
                                                {{ _('List of whole numbers.') }}
                                            </td>
                                            <td>
                                                {{ _('Economic classification') }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="municipalities-tryit">
                                <div class="row">
                                    <div class="col-md-8">
                                        <form class="form-horizontal" id="municipalities-req-form">
                                            <div class="form-group">
                                                {{ sum_req_form.data_type.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.data_type(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.years.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.years(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.classifications.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.classifications(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="text-right"><button type="button"class="button-full" id="btn-post-municipalities-req">POST</button></div>
                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{{ _('Request Body:') }}</strong>
                                        <pre style="height:258px;">
                                            <code class="language-javascript" id="municipalities-req-body-box"></code>
                                        </pre>
                                    </div>
                                </div>
                                <div style="padding-top:20px;">
                                    <strong>{{ _('Response:') }}</strong>
                                    <pre style="height:400px;">
                                        <code class="language-javascript" id="municipalities-req-rsp-box"></code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="api-list-mun" class="container margin-4p">
        <div class="row">
            <div class="col-xs-12 col-md-8 float-none">
                <div class="panel panel-default border-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title white-content">{{ _('List of Municipalities for Classification Number') }}</h3>
                    </div>
                    <div class="panel-body primary-content-color">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#list-mun-how" aria-controls="list-mun-how"
                                                                      role="tab" data-toggle="tab">{{ _('How?') }}</a></li>
                            <li role="presentation"><a href="#list-mun-tryit" aria-controls="list-mun-tryit" role="tab"
                                                       data-toggle="tab">{{ _('Try it!') }}</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="list-mun-how">
                                <div class="form-group text-center">
                                    <!--<h5>OPIS:</h5>-->
                                    <span>{{ _('DESCRIPTION: Use this POST request to download data.') }}</span>
                                </div>

                                <div class="text-center">
                                    <!--<h5>URL POST ZAHTEVA:</h5>-->
                                    <span>{{ _('POST REQUEST URL: http://datacentar.io/en/api/spisak-opstina-za-klasifikacija-broj') }}</span>
                                </div>
                                <br>

                                <div>
                                    <h5>{{ _('INQUIRY PARAMETERS:') }}</h5>
                                    <table class="table table-striped margin-2p">
                                        <thead class="secondary-color white-content">
                                        <tr>
                                            <td>
                                                {{ _('Parameter') }}
                                            </td>
                                            <td>
                                                {{ _('Type') }}
                                            </td>
                                            <td>
                                                {{ _('Description') }}
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                tipPodataka
                                            </td>
                                            <td>
                                                {{ _('String.') }}
                                            </td>
                                            <td>
                                                {{ _('Use this parameter to filter based on the type of data.') }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                godine
                                            </td>
                                            <td>
                                                {{ _('List of whole numbers.') }}
                                            </td>
                                            <td>
                                                {{ _('Years we want to download data for.') }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                klasifikacijaBroj
                                            </td>
                                            <td>
                                                {{ _('List of whole numbers.') }}
                                            </td>
                                            <td>
                                                {{ _('Economic classification.') }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="list-mun-tryit">
                                <div class="row">
                                    <div class="col-md-8">
                                        <form class="form-horizontal" id="list-mun-req-form">
                                            <div class="form-group">
                                                {{ sum_req_form.data_type.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.data_type(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.years.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.years(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ sum_req_form.classifications.label(class="control-label col-xs-2") }}
                                                <div class="col-xs-10">
                                                    {{ sum_req_form.classifications(class="form-control border-primary") }}
                                                </div>
                                            </div>
                                        </form>
                                        <div class="text-right">
                                            <button type="button"class="button-full" id="btn-post-list-mun-req">POST</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{{ _('Request Body:') }}</strong>
                                        <pre style="height:258px;">
                                            <code class="language-javascript" id="list-mun-req-body-box"></code>
                                        </pre>
                                    </div>
                                </div>
                                <div style="padding-top:20px;">
                                    <strong>{{ _('Response:') }}</strong>
                                    <pre style="height:400px;">
                                        <code class="language-javascript" id="list-mun-req-rsp-box"></code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <section id="api-list-mun" class="container margin-4p">
        <div class="row">
            <div class="col-xs-12 col-md-8 float-none">
                <div class="panel panel-default border-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title white-content">{{ _('Parlamentary and Presidential Elections') }}</h3>
                    </div>
                    <div class="panel-body primary-content-color">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#list-mun-how" aria-controls="list-mun-how"
                                                                      role="tab" data-toggle="tab">{{ _('How?') }}</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="list-mun-how">
                                <div class="form-group text-center">
                                    <!--<h5>OPIS:</h5>-->
                                    <span>{{ _('DESCRIPTION: Use this POST request to download data.') }}</span>
                                </div>

                                <div class="text-center">
                                    <!--<h5>URL POST ZAHTEVA:</h5>-->
                                    <h2>Parlamentarni Izbori</h2>
                                    <span><b>GET</b> election results grouped by territories:</span><br/>

                                    <span style="word-break:break-all">{{ _('<b>POST REQUEST URL:</b>  ')}} <br/>http://datacentar.io/api/izbori/datasource/parlamentarni/godina/int:godina/teritorija/instanca/int:territory_admin_level</span><br/><br/>

                                    <span>{{ _('<b>EXAMPLE POST REQUEST URL</b>: http://datacentar.io/api/izbori/2/parlamentarni/godina/2003/teritorija/instanca/2') }}</span>

                                    <br/><br/>
                                    <span><b>GET</b> election results for a given territory:</span><br/>
                                    <span>{{ _('<b>EXAMPLE POST REQUEST URL</b>:') }}</span><br/>
                                    <span style="word-break:break-all"></spam>http://datacentar.io/api/izbori/int:data_source_id/parlamentarni/godina/int:godina/teritorija/instanca/int:territory_admin_level/string:territory_slug</span>

                                                                        <br/><br/>
                                    <h2>Predsednički</h2>
                                    <span><b>GET</b>  election results grouped by parties:</span><br/>
                                    <span>{{ _('<b>EXAMPLE POST REQUEST URL</b>:') }}</span><br/>
                                    <span style="word-break:break-all"></spam>http://datacentar.io/api/izbori/int:data_source_id/predsjednicki/godina/int:godina/krug/string:krug/teritorija</span><br/><br/>
                                    <span>{{ _('<b>EXAMPLE POST REQUEST URL</b>: http://datacentar.io/api/izbori/2/predsjednicki/godina/2003/krug/prvi/teritorija') }}</span><br/>
                                    <span><b>Short description: Krug can be prvi or drugi<b/></span>
                                </div>
                                <br>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}