/*==================================
=            Whole page            =
==================================*/

body {
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Ubuntu Mono';
}
.margin-auto {
    margin: auto;
}

/*=====  End of Whole page  ======*/



/*====================================
=            Landing page            =
====================================*/


/* .intro {
    background: url({{ url_for('static', filename='img/intro-bg-%s.jpg'%bg_id)}}) no-repeat bottom center scroll;
} */
nav{height: 70px;padding: 10px;}

.padding-10{padding: 10px 0;}
.section-height{ min-height: 100vh; }

.intro {
    position: relative;
    overflow: hidden;
    height: 50vh;
    padding-top: 70px;
    /*margin-bottom: 70px;*/
}
/*.intro-body {
    position: relative;
    overflow: hidden;
    height: 300px;
}*/
.intro-content {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    tranform: translate(-50%, -50%);
    padding-top: 70px;
}
/*.intro.landing{height: 120vh;}*/

@media screen and (min-width:650px) and (max-width:1000px) {
   .intro.landing{height: 140vh;}
 
}
.btn-white-border,.btn-white-border:hover,.btn-white-border:active{
    background-color: #0794A0; /* prim-col */
    border-color: white;
    border-radius: 10px;
}
#searchWithParams{
    font-size: 18px;
}

.main-content {
    padding: 60px;
}   

#searchParamsS .col-xs-12, #searchParamsS .col-sm-3, #searchParamsS .col-sm-2, #searchParamsS .col-sm-1, #searchParamsS .col-xs-1 {
    padding-right: 2px;
    padding-left: 2px;
}
/* http://embedresponsively.com/ */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    border: 3px solid #7DC1D1;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.height-110{
  height: 200px;/* 110%; 
}*/

.primary-color{
    background-color: #0794A0;/* #008F9B; */
}
.secondary-color{
    background-color: #7DC1D1;/* #7EC2D1; */
}

.primary-content-color{
	color: #0794A0;
}
.white-content{
	color: white;
}
.white-background{
	background-color: white;
}

.overlay-video {
    width: 100%;
    /* min-height: 40vh; */
    height: 270px;
}
.negative-margin-5{
	margin-top: -3%;
}

select.primary-content-color{
	-webkit-appearance:none ;
	-moz-appearance:none ;
	appearance:none ;

	background-color: #0794A0;

}

.font-lg-custom{
	font-size: 24px;
}

.underline li{
	text-decoration: underline;
}

.vertical-align{
	display: flex;
    align-items: center;
}

/*.border-primary { /*preimenovati
	border: 2px solid #0794A0;
    border-radius: 10px;
    color: #0794A0;
}*/
.ui-widget {
    font-size: inherit;
    font-weight: normal;
    font-family: 'Ubuntu Mono';
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff;
    border: 2px solid #0794A0;
    border-radius: 10px;
    color: #0794A0;
    width: 100% !important;
}

.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 5px;
    padding-right: 30px;
}

.ui-state-default:focus {
    border-radius: 10px;
}

.border-secondary{
    border: 2px solid #7DC1D1;
}
.border-white{
 border: 2px solid white;   
 border-radius: 10px;
}
.button-full {
    background: #0794A0;
    color: #fff;
    border: 2px solid #7DC1D1;
    border-radius: 10px;
}

.modal-body{height: 150px;}
.modal-header{border-bottom: none;}
.modal-header>.close{
	border: 2px solid #0794A0;
    position: absolute;
    top: 0px;
    right: -1px;
    width: 35px;
    height: 35px;
}
.modal-backdrop{background-color: #fff;}
.modal-dialog{border: 2px solid #0794A0;}
/*=====  End of Landing page  ======*/

/*==================================
=            about page            =
==================================*/

.margin-top-10vh{
	margin-top: 15vh;
}

.funder-img{
	border-radius: 10px;
	border: 2px solid #0794A0;
}
/*=====  End of about page  ======*/

/*===================================
=            Search page            =
===================================*/

.content-dataset{
	width: 35%;
	margin: auto;
}
.content-dataset ul{
    line-height: 3;
    text-decoration: underline;
}
.advanced {
    border-bottom: 1px solid #0794A0;
    text-align: left;
    margin-bottom: 10px;
    color: #0794A0;
}
/*=====  End of Search page  ======*/


/*BOOTSTRAP EDITS*/
.container {
    padding-right: 0px;
    padding-left: 0px;
}
@media (max-width: 992px) {
    .container {
        width: 100% !important;
    }
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background: #fff;
    border: 0px;
}
.nav>li>a {
    border-bottom: 1px solid #0794A0;
    padding: 0;
    padding-top: 15px;
    margin-right: 20px;
    height: 40px;
}
.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    color: #0794A0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0px;
}
.navbar-collapse {
    background: #fff;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .navbar-nav {
        margin-bottom: 0px;
    }
    .nav>li>a {
        padding: 10px;
        margin-right: 0px;
        height: inherit;
    }
}