/*==================================
=            Whole page            =
==================================*/

body{font-size: 16px;}
.margin-auto{margin:auto;}

/*=====  End of Whole page  ======*/



/*====================================
=            Landing page            =
====================================*/


/* .intro {
    background: url({{ url_for('static', filename='img/intro-bg-%s.jpg'%bg_id)}}) no-repeat bottom center scroll;
} */
nav{height: 70px;padding: 10px;}

.padding-10{padding: 10px 0;}
.section-height{ min-height: 100vh; }
.intro{padding-top: 70px;margin-bottom: 70px;height: 120vh;}

header.container-fluid.section-height.intro.section-height {}

.btn-white-border,.btn-white-border:hover,.btn-white-border:active{
    background-color: #0794A0; /* prim-col */
    border-color: white;
    border-radius: 10px;
}
#searchWithParams{
    font-size: 18px;
}    
/* http://embedresponsively.com/ */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    border: 3px solid #7DC1D1;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.height-110{
  height: 200px;/* 110%; */
}

.primary-color{
    background-color: #0794A0;/* #008F9B; */
}
.secondary-color{
    background-color: #7DC1D1;/* #7EC2D1; */
}

.primary-content-color{
	color: #0794A0;
}
.white-content{
	color: white;
}
.white-background{
	background-color: white;
}

.overlay-video {
    width: 100%;
    /* min-height: 40vh; */
    height: 270px;
}
.negative-margin-5{
	margin-top: -3%;
}

select.primary-content-color{
	-webkit-appearance:none ;
	-moz-appearance:none ;
	appearance:none ;

	background-color: #0794A0;

}

.font-lg-custom{
	font-size: 24px;
}

.underline li{
	text-decoration: underline;
}

.vertical-align{
	 display: flex;
    align-items: center;
}

.modal-body{height: 150px;}
.modal-header{border-bottom: none;}
.modal-header>.close{
	border: 2px solid #0794A0;
    position: absolute;
    top: 0px;
    right: -1px;
    width: 35px;
    height: 35px;
}
.modal-backdrop{background-color: #fff;}
.modal-dialog{border: 2px solid #0794A0;}
/*=====  End of Landing page  ======*/

/*==================================
=            about page            =
==================================*/

.margin-top-10vh{
	margin-top: 15vh;
}

.funder-img{
	border-radius: 10px;
	border: 2px solid #0794A0;
}
/*=====  End of about page  ======*/

/*===================================
=            Search page            =
===================================*/

.content-dataset{
	width: 35%;
	margin: auto;
}

/*=====  End of Search page  ======*/
