{% extends "layout.html" %} {% block body %}
<style>
.vis {
    width: 100%;
    height: 500px;
}

svg {
    width: 100%;
    height: 100%;
}

path.slice {
    stroke-width: 2px;
}

.label {
    fill: white;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/pagescripts/landingpage.js') }}"></script>

<script>
$( document ).ready(function() {
    generateRandomQuery();
});
</script>

<!-- Intro Header; Welcome section -->
<section class="">
    <header class="landing">
        <div class="intro primary-color">
            <div class="white-content container padding-lg">
                <h2 class="text-center">{{ _('Welcome to Data Centar') }}</h2>
                <p class="text-center lead margin-2p">
                    {{ _('Data Centar is an open platform in Serbia that helps you find, liberate and make use of public data.') }}
                    <br /><b>{{ _('We start small to grow responsibly:</b> from municipal budgets in Serbia, to whatever our audience wants us to liberate next. Check the video below to find out more.') }}
                </p>
            </div>
        </div>
        <div class="container">
            <div class="overlay-video text-center">
                <div class="welcome-video col-xs-12 col-sm-8">
                    <div class='embed-container'>
                        <div id="ytplayerLanding"></div>
                    </div>
                    <div class="welcome-text margin-9p text-underline">
                        <a href="javascript:loadSearchPageWithRandomQuery('{{ url_for('search.index', lang_code=g.current_lang) }}')" id="searchWithParams">{{ _('Show me data about ') }}
                            [<span id='query-param-data-source'>BUDGET</span> <span id='query-param-budget-type'></span>]
                            {{ _('for') }} [<span id='query-param-municipality'></span>]
                            {{ _('in') }} [<span id='query-param-year'>2015</span>].
                        </a>
                    </div>
                    <div class="row welcome-buttons margin-9p">
                        <div class="col-xs-12 col-sm-6">
                            <button id="anotherFavQuery" type="button" class="button-full">
                                {{ _('Generate different search') }}
                            </button>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <a href="{{ url_for('search.index', lang_code=g.current_lang) }}">
                                <button type="button" class="button-full">
                                    <!--btn btn-block btn-lg  btn-link btn-white-border primary-color white-content-->
                                   {{ _('Just show me all the data') }}
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
<!-- What's avalible Section -->
<section id="avalibleS" class="container-fluid secondary-color content-section text-center white-content margin-4p">
    <div class="container">
        <div class="margin-4p">
            <!--col-lg-8 col-lg-offset-2-->
            <h3>{{ _('We currently have [20] datasets from [10] Serbian municipalities totalling [4,407] line items.') }}</h3>
            <div class="infographics margin-auto margin-2p">
                {% if g.current_lang == "sr" %}
                    <div class="col-md-4">
                        <iframe class="highcharts-iframe" src="//cloud.highcharts.com/embed/azamuq" style="border: 0; width: 100%; height: 500px"></iframe>
                    </div>
                    <div class="col-md-4">
                        <iframe class="highcharts-iframe" src="//cloud.highcharts.com/embed/ilogas" style="border: 0; width: 100%; height: 500px"></iframe>
                    </div>
                    <div class="col-md-4">
                        <iframe class="highcharts-iframe" src="//cloud.highcharts.com/embed/ymocew" style="border: 0; width: 100%; height: 500px"></iframe>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <iframe class='highcharts-iframe' src='//cloud.highcharts.com/embed/ijejoc' style='border: 0; width: 100%; height: 500px'></iframe>
                    </div>
                    <div class="col-md-4">
                        <iframe class='highcharts-iframe' src='//cloud.highcharts.com/embed/omejob' style='border: 0; width: 100%; height: 500px'></iframe>
                    </div>
                    <div class="col-md-4">
                        <iframe class='highcharts-iframe' src='//cloud.highcharts.com/embed/alucyz' style='border: 0; width: 100%; height: 500px'></iframe>
                    </div>
                {% endif %}






            </div>
            <div id="vis1"></div>
        </div>
        <!-- </div> -->
</section>
{% endblock %}
