{% extends "layout.html" %}
{% block body %}

    <!-- Contact Section -->
    <section id="contact" class="container text-center" style="padding-top:150px">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><i class="fa fa-map-marker"></i> Mapa</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </section>
{% endblock %}