<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" sizes="16x16" />

    <title>DataCentar</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!--JQueryUI CSS-->
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet" >

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!--JQueryUI JavaScript-->
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

    <!-- Webapp Script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <style>
        
        #mailModal *  {
            
            -webkit-border-radius: 10px !important;
            -moz-border-radius: 10px !important;
            border-radius: 10px !important; 
        }
        /*.margin-10{  margin: 10px 0;}*/
        #logoSvg{
            height: 50px; 
            margin-top: -20px;

        }
        
    </style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dc-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{ url_for('landing_page.index') }}">
                    <img src="{{ url_for('static', filename='images/logo-vector-fit.svg') }}" alt="Datacentar logo" id="logoSvg">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="dc-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{{ url_for('search.index') }}">Search</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ url_for('api.index') }}">API</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ url_for('about.index') }}">About</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {% block body %}
    {% endblock %}

    <!-- Open data request Section -->
    <section id="dataRequestS" class="container content-section margin-4p">
        <div class="datareq col-xs-12 col-sm-8">
            <h2 class="primary-content-color">WHICH DATASET SHOULD WE OPEN NEXT?</h2>
            <div class="margin-2p">               
                <form id="newDataForm" class="form-horizontal" action="//formspree.io/data@datacentar.io" method="POST">
               <!--  <input type="hidden" name="_next" value="#thx"/> -->
                <fieldset>
                    <!-- Form Name -->
                    <!-- <legend></legend> -->
                    <div class="row">
                        <!-- Text input-->
                        <div class="col-xs-12 col-sm-6 margin-2p">
                            <input id="mail" name="email" type="email" placeholder="email@address.com"  class="form-control input-md border-primary primary-content-color" oninvalid="this.setCustomValidity('Unesite validnu e-mail adresu')">
                        </div>
                        <!-- Closed dataset dropdown -->
                        <div class="col-xs-12 col-sm-6 margin-2p">
                            <select id="datasetSel" name="datasetSel" class="form-control select-control-b">
                                <option value="1"><i>Choose a dataset</i></option>
                                <option value="2">Asset declarations</option>
                                <option value="3">More municipal budgets</option>
                                <option value="4">Regional budgets</option>
                                <option value="4">Other, specified in comment</option>
                            </select>
                        </div>
                    </div>
                    <!-- Usage of information -->
                    <div class="margin-2p">
                        <textarea class="form-control border-primary primary-content-color" id="textarea" name="infoTA" rows="6" placeholder="How would you use this information?"></textarea>
                    </div>
                    <!-- Button -->
                    <div class="margin-4p">
                        <button id="sendBtn" name="sendBtn" class="button-full margin-auto">Send</button>
                    </div>
                </fieldset>
        </form>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            $(".select-control").selectmenu();
            $(".select-control-b").selectmenu();
            $(".download-control").selectmenu();
        });
    </script>    

    <!-- Footer -->
    <footer class="container-fluid content-section text-center primary-color white-content padding-md margin-4p">
        <div class="container position-relative">    
            <h2 class="margin-2p">Contact us</h2>
            <p class="margin-2p"><a class="white-content" href="mailto:office@crta.org"><b>Write to us</b></a>if you need any special information, data, or visualizations.</p>
            <ul class="list-inline banner-social-buttons margin-2p">
                <li>
                    <a href="http://www.crta.rs/" class=" btn-lg white-content font-lg-custom"><i class="fa fa-globe fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/CRTArs" class=" btn-lg white-content font-lg-custom"><i class="fa fa-twitter fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/2779063" class=" btn-lg white-content font-lg-custom"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/CRTA-Center-for-Research-Transparency-and-Accountability-246944101993258" class=" btn-lg white-content font-lg-custom"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/Istinomer" class=" btn-lg white-content font-lg-custom"><i class="fa fa-youtube fa-fw"></i></a>
                </li>
                <li>
                    <a href="https://github.com/crtarsorg" class=" btn-lg white-content font-lg-custom"><i class="fa fa-github fa-fw"></i></a>
                </li>
            </ul>
            <p class="margin-2p">Data Centar available to all under a Creative Commons CC-0 license.</p>
            <a class="creative-commons" href="https://creativecommons.org/publicdomain/zero/1.0/"></a>
            <div class="creative-commons"></div>
        </div>        
    </footer>


     <!-- Modal -->
  <div class="modal fade col-lg-8 col-lg-offset-2 " id="mailModal" role="dialog">
    <div class="modal-dialog img-rounded">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close primary-content-color" data-dismiss="modal">&times;</button>
          <h2 id="titleMailModal" class="text-center primary-content-color ">Thank you</h2>
        </div>
        <div class="modal-body text-center primary-content-color">
          <p id="bodyMailModal" class="">Add any other information here about how votes information?
            will count + that data centar is a work in progress.</p>
        </div>
       
      </div>
      
    </div>
  </div>

<script>

    $("#sendBtn").click(function(ev){
        ev.preventDefault();

        var path = $("#newDataForm").attr( 'action' );
        var dataForm = $("#newDataForm").serialize();

        var request = $.ajax({
          url: path,
          method: "POST",
          data: dataForm,
          dataType:"json"
        });
         
        request.done(function( msg ) {
            
            /*$('#mailModal').find("#titleMailModal").html("Success");
            $('#mailModal').find("#bodyMailModal").html("Somethnig else");*/
            $('#mailModal').modal('show');
        });
         
        request.fail(function( jqXHR, textStatus ) {
          console.log(jqXHR);
          console.log( "Request failed: " + textStatus );
        });

    })
</script>
</body>

</html>
